* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2eaff;
  color: black;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
  margin: 0;
  padding: 0;
}


/* HEADER Section */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: solid 2px #48e;
}
.header__logo {
  max-width: 100%;
  width: 64px;
  margin: 10px 20px;

}
.header__open-nav-button {
  color: #48e;
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  right: 10px;
}
.header__checkbox {
  display: none;
}
.header__nav {
  display: none;
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.header__checkbox:checked~.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 40vh;
  justify-content: space-evenly;
}

.header__nav-item {
  list-style: none;

  a {
    text-decoration: none;
    color: #48e;
    font-weight: 600;
  }
}

.header__nav-item:hover {
  transform: scale(1.1);
}

/* Header-MediaQueries */

@container header (min-width:600px) {

  .header__logo-container {
    margin-left: 10%;
  }

  .header__nav {
    display: block;
    position: relative;
    height: auto;
    justify-content: space-evenly;
    width: auto;
  }

  .header__nav-list {
    flex-direction: row;
    height: auto;
    column-gap: 20px;
    margin-right: 40px;
  }

  .header__open-nav-button {
    display: none;
  }

  .header__nav-item a i {
    display: none;
  }
}

/* Header Ends */


/* PROFIILE section */

.profile {
  container-name: profile;
  container-type: inline-size;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  max-width: 1400px;
}

.profile__img-container {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  h3{
    position: absolute;
    top: 40%;
    right: 100px;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 15px;
    background-color: #26a;
    border-radius: 15px;
    text-align: center;
  }
}

.profile__img {
  max-width: 100%;
  width: 720px;
  filter: blur(5px);
}

.profile__data-container {
  max-width: 600px;
  padding: 20px;
}

h1 {
  color: #26a;
}

.profile__skills-container h2 {
  color: #26a;
}

.profile__skill {
  list-style: none;
  display: flex;
  margin: 10px;
  max-width: 600px;
  align-items: center;
  margin-left: 0;
}

.load-bar {
  border: 2px solid #48e;
  border-radius: 8px;
  color: white;
  padding: 2px;
  font-size: 12px;
  width: 80%;
  margin: 4px;
  margin-left: 0;
}

.load-bar__bar {
  background-color: #48e;
  border-radius: 6px;
  padding: 4px 6px;
  width: 100%;
}

.bar--80 {
  width: 80%;
}

.bar--60 {
  width: 60%;
}

.bar--40 {
  width: 40%;
}

.profile__skill-name {
  color: #48e;
  width: 15%;
}

/* profile-Mediaqueries */

@container profile (min-width:600px) {
  .profile__wrapper {
    flex-direction: row;
    padding: 50px;
    background-color: transparent;
    margin: auto;
  }

  .profile__img {
    height: 100%;
    object-fit: cover;
    width: 620px;
  }

  .profile__data {
    max-width: 620px;
  }

  .profile__data-container {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 0px 9px #0003;
  }

  .profile__img-container {
    background-color: white;
    max-height: initial;
    border-radius: 25px 0 0 25px;
  }

  .bar--80{
    transition: 2s linear;
  }
  .bar--80:hover{
    width: 100%;
  }
  .bar--60{
    transition: 2s linear;
  }
  .bar--60:hover{
    width: 100%;
  }
  .bar--40{
    transition: 2s linear;
  }
  .bar--40:hover{
    width: 100%;
  }
}

/* Profile Ends */



/* PORTFOLIO SECTION */

.portfolio {
  background-color: #18233f;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  container-name: portfolio;
  /* para usar en el query*/
  container-type: inline-size;
}

.portfolio__project-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 80vh;
  gap: 10px;
  padding: 20px;
}

.portfolio__project-1{
  background-image: linear-gradient(#0009, #0009), url(../pics/Perfume.PNG);
  /* linear es para poner opaco */
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-1:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/Perfume.PNG);
  outline: 2px solid white;
}


.portfolio__project-2{
  background-image: linear-gradient(#0009, #0009), url(../pics/3-autos-colores.PNG);
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-2:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/3-autos-colores.PNG);
  outline: 2px solid white;
}


.portfolio__project-3{
  background-image: linear-gradient(#0009, #0009), url(../pics/1-proyecto-verdeAgua.PNG);
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-3:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/1-proyecto-verdeAgua.PNG);
  outline: 2px solid white;
}


.portfolio__project-4{
  background-image: linear-gradient(#0009, #0009), url(../pics/Huddle-purple.PNG);
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-4:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/Huddle-purple.PNG);
  outline: 2px solid white;
}


.portfolio__project-5{
  background-image: linear-gradient(#0009, #0009), url(../pics/joinOurComunity-green-white.PNG);
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-5:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/joinOurComunity-green-white.PNG);
  outline: 2px solid white;
}


.portfolio__project-6 {
  background-image: linear-gradient(#0009, #0009), url(../pics/Menu-hambu-desplega.PNG);
  /* linear es para poner opaco */
  background-position: center;
  background-size: cover;
  height: 150px;
  display: grid;
  place-content: center;
}
.portfolio__project-6:hover {
  background-image: linear-gradient(#0002, #0002), url(../pics/Menu-hambu-desplega.PNG);
  outline: 2px solid white;
}


.portfolio {
  h2 a{
    font-size: 3rem;
    color: white;
    text-decoration: none;
  }
}

/* PORTFOLIO Queries */
@media screen and (min-width: 56rem) {
  .portfolio{
    height: 80%;
  }
  .portfolio h2{
    font-size: 50px;
  }
  .portfolio__project-container {
    height: 120%;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-template-rows: repeat(4, minmax(250px, 1fr));
  }

  .portfolio__project-1, .portfolio__project-2, .portfolio__project-3, .portfolio__project-4, .portfolio__project-5, .portfolio__project-6 {
    height: 100%;
  }

  .portfolio__project-1 {
    grid-column: span 2;
  }

  .portfolio__project-6{
    grid-column: span 2;
  }
}


/* FORM */
.form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  container-name: form;
  container-type: inline-size;
}

.form__form {
  padding: 15px;
  max-width: 600px;
  width: 100%;
  display: grid;
  /*es para el responsive*/
}

.form__input-container :is(input, textarea) {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin: 4px;
  border: none;
  box-shadow: 0px 0px 9px rgb(188, 188, 188);
}

.form__input-container textarea {
  resize: none;
  /* para que no se haga mas grande*/
  min-height: 120px;
}

.form__input-container input[type="submit"] {
  padding: 12px;
  background-color: #18233f;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.form__title{
font-size: 2.4rem;
}

/* FORM queries */
@container form (min-width: 600px) {
  .form__form {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "nombre apellido"
      "mail mail"
      "mensaje mensaje"
      "boton boton";
  }

  .form__input-container:first-child {
    grid-area: nombre;
  }

  .form__input-container:nth-child(2) {
    grid-area: apellido;
  }

  .form__input-container:nth-child(3) {
    grid-area: mail;
  }

  .form__input-container:nth-child(4) {
    grid-area: mensaje;
  }
  .form__input-container:last-child{
    grid-area: boton;
    width: 50%;
    display: flex;
    justify-self: center;
  }
}

/* FOOTER */
footer{
  padding: 60px;
  text-align: center;
  background-color: #18233f;
  color: white;
  font-size: 22px;
}